# temporal directories
/temp/*
/dist/*

# IDE directories
/.vscode/

#distribution directories
/dist/

#temp directories
/temp/

#node_modules directories
/node_modules/

#package-lock.json
package-lock.json