# IDE directories
/.vscode/

#distribution directories
/build/res
/build/src
/build/test

#temp directories
/temp/
/test/out/

#node_modules directories
/node_modules/

#package-lock.json
package-lock.json